<?xml version='1.0' encoding='utf-8'?>
<widget id="com.keianrao.formpagi" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FormPagination</name>
    <description>Test Cordova app with three pages around a form</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <author email="keian.rao@gmail.com" href="https://github.com/keianrao">
        Keian Rao
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
