/*copyright

This file is part of FormPagination.
Written in 2024 by Keian Rao <keian.rao@gmail.com>

This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>.

copyright*/

#submitError {
    color: #ab0000;
    border: 0.1em solid #ab0000a0;
    background-color: #FFD0B0;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-top: 1em;
}

fieldset {
    border: none;
    padding: 0em;
    /* Integrate directly into page. */
}

fieldset label {
    margin-right: 0.5em;
}

fieldset > section {
    margin-bottom: 0.5em;
}
fieldset > section:last-of-type {
    margin-bottom: 0em;
}